 <div class="jumbotron opacity-100">
 <footer class="py-3 mt-4 mx-5 text-muted border-top fixed-bottom bg-opacity-75 ">
      <i><small class="text-muted">All rights reserved </small></i>© 2021
</footer>
</div>